easy_admin:
    site_name: 'Foodie By Nature'
    #design:
    #    form_theme: 'vertical'    
    #list:
        # Add show action to list view
    #    actions: ['show']
    entities:
        Restaurant:
            class : FBN\GuideBundle\Entity\Restaurant
            list:
                fields:
                    - 'id'
                    - 'name'
                    - 'publication'
            form:
                fields:
                    - 'name'
                    - 'author'
                    - 'description'
                    - 'owner'
                    - 'openingHours'
                    - 'tel'
                    - 'site'
                    - 'href'
                    - 'restaurantPrice'
                    - 'restaurantStyle'
                    - 'restaurantBonus'
                    - { property: 'image', type: 'FBN\GuideBundle\Form\ImageRestaurantType' }
                    - { property: 'coordinates', type: 'FBN\GuideBundle\Form\CoordinatesType' }                    
                    - { property: 'isShop', type_options: { required: false } }
                    - { property: 'publication', type_options: { required: false } }
        Winemaker:
            class : FBN\GuideBundle\Entity\Winemaker
            list:
                fields:
                    - 'id'
                    - 'name'
                    - 'publication'
            form:
                fields:
                    - 'name'
                    - 'author'
                    - 'description'
                    - { property: 'image', type: 'FBN\GuideBundle\Form\ImageWinemakerType' }
                    # by_reference : false => Needed to ensure that addWinemakerDomain() and removeWinemakerDomain() will be called during the flush.
                    # See (last lines) : http://symfony.com/doc/master/reference/forms/types/collection.html#by-reference
                    - { property: 'winemakerDomain', type: 'collection', type_options: { entry_type: 'FBN\GuideBundle\Form\WinemakerDomainType', by_reference: false } }
                    - { property: 'publication', type_options: { required: false } }                    
        Shop:
            class : FBN\GuideBundle\Entity\Shop
            list:
                fields:
                    - 'id'
                    - 'name'
                    - 'publication'
            form:
                fields:
                    - 'name'
                    - 'author'
                    - 'owner'
                    - 'openingHours'
                    - 'tel'
                    - 'site'
                    - 'href'
                    - { property: 'coordinates', type: 'FBN\GuideBundle\Form\CoordinatesType' }
                    - { property: 'publication', type_options: { required: false } }
        Info:
            class : FBN\GuideBundle\Entity\Info
            list:
                fields:
                    - 'id'
                    - 'name'
                    - 'publication'
            form:
                fields:
                    - 'name'
                    - 'author'
                    - 'description'
                    - { property: 'publication', type_options: { required: false } }
        Tutorial:
            class : FBN\GuideBundle\Entity\Tutorial
            list:
                fields:
                    - 'id'
                    - 'name'
                    - 'publication'
            form:
                fields:
                    - 'name'
                    - 'author'
                    - 'description'
                    - 'tutorialSection'
                    - { property: 'image', type: 'FBN\GuideBundle\Form\ImageTutorialType' }
                    - { property: 'tutorialChapter', type: 'collection', type_options: { entry_type: 'FBN\GuideBundle\Form\TutorialChapterType', by_reference: false } }
                    - { property: 'publication', type_options: { required: false } }   
        Event: 
            class : FBN\GuideBundle\Entity\Event
            list:
                fields:
                    - 'id'
                    - 'name'
                    - 'dateStart'
                    - 'dateEnd'
                    - 'publication'
            form:
                fields:
                    - 'name'
                    - 'author'
                    - 'description'
                    - 'eventType'
                    - { property: 'image', type: 'FBN\GuideBundle\Form\ImageEventType' }
                    - 'dateStart'
                    - 'dateEnd'
                    - 'year'
                    - 'openingHours'
                    - 'tel'
                    - 'site'
                    - 'href'                    
                    - { property: 'coordinates', type: 'FBN\GuideBundle\Form\CoordinatesType', css_class: 'col-xs-12 coordinates' }                    
                    - { property: 'restaurant', css_class: 'col-xs-12 restaurant' }
                    - { property: 'shop', css_class: 'col-xs-12 shop' }
                    - { property: 'winemakerDomain', css_class: 'col-xs-12 winemakerDomain' }
                    - { property: 'eventPast', css_class: 'col-xs-12 eventPast' }                    
                    - { property: 'useExtTel', type_options: { required: false }, css_class: 'col-xs-12 useExtTel' } 
                    - { property: 'useExtSite', type_options: { required: false }, css_class: 'col-xs-12 useExtSite' }                    
                    - { property: 'publication', type_options: { required: false } }
        RestaurantBonus:    
            class : FBN\GuideBundle\Entity\RestaurantBonus
        RestaurantPrice:
            class : FBN\GuideBundle\Entity\RestaurantPrice
        RestaurantStyle:
            class : FBN\GuideBundle\Entity\RestaurantStyle  
        WineakerArea:
            class : FBN\GuideBundle\Entity\WinemakerArea
        TutorialSection:
            class : FBN\GuideBundle\Entity\TutorialSection
        EventType:
            class : FBN\GuideBundle\Entity\EventType                           
        CoordinatesFRLane:    
            class : FBN\GuideBundle\Entity\CoordinatesFRLane
            list:
                fields:
                    - 'id'
                    - 'lane'            
        CoordinatesFRCity:    
            class : FBN\GuideBundle\Entity\CoordinatesFRCity
            list:
                fields:
                    - 'id'
                    - 'city'
                    - 'postCode'                    
        CoordinatesCountry:    
            class : FBN\GuideBundle\Entity\CoordinatesCountry
            list:
                fields:            
                    - 'id'
                    - 'country'