easy_admin:
    site_name: 'Foodie By Nature'
    #design:
    #    form_theme: ['VichUploaderBundle:Form:fields.html.twig', 'horizontal']
    #list:
        # Add show action to list view
    #    actions: ['show']
    entities:
        Restaurant:
            class : FBN\GuideBundle\Entity\Restaurant
            list:
                fields:
                    - 'id'
                    - 'name'
                    - 'publication'
            form:
                fields:
                    - 'name'
                    - 'author'
                    - 'description'
                    - 'restaurateur'
                    - 'openingHours'
                    - 'tel'
                    - 'site'
                    - 'href'
                    - 'restaurantPrice'
                    - 'restaurantStyle'
                    - 'restaurantBonus'
                    - { property: 'image', type: 'FBN\GuideBundle\Form\ImageRestaurantType' }
                    - { property: 'coordinates', type: 'FBN\GuideBundle\Form\CoordinatesType' }
                    - 'shop'
                    - { property: 'publication', type_options: { required: false } }
        Shop:
            class : FBN\GuideBundle\Entity\Shop
            list:
                fields:
                    - 'id'
                    - 'name'
                    - 'publication'
            form:
                fields:
                    - 'name'
                    - 'author'
                    - 'owner'
                    - 'openingHours'
                    - 'tel'
                    - 'site'
                    - 'href'
                    - { property: 'coordinates', type: 'FBN\GuideBundle\Form\CoordinatesType' }
                    - publication
        RestaurantBonus:    
            class : FBN\GuideBundle\Entity\RestaurantBonus
        RestaurantPrice:
            class : FBN\GuideBundle\Entity\RestaurantPrice
        RestaurantStyle:
            class : FBN\GuideBundle\Entity\RestaurantStyle
      
        CoordinatesFRLane:    
            class : FBN\GuideBundle\Entity\CoordinatesFRLane
            list:
                fields:
                    - 'id'
                    - 'lane'            
        CoordinatesFRCity:    
            class : FBN\GuideBundle\Entity\CoordinatesFRCity
            list:
                fields:
                    - 'id'
                    - 'city'
                    - 'postCode'                    
        CoordinatesCountry:    
            class : FBN\GuideBundle\Entity\CoordinatesCountry
            list:
                fields:            
                    - 'id'
                    - 'country'