easy_admin:
    site_name: 'Foodie By Nature'
    design:
        form_theme: ['VichUploaderBundle:Form:fields.html.twig', 'horizontal']
    list:
        # Add show action to list view
        actions: ['show']
    entities:
        ImageRestaurant:
            #label: 'Image Restaurant'
            class: FBN\GuideBundle\Entity\ImageRestaurant
            image_base_path: %app.path.images_restaurant%
            list:
                #title: ""
                fields:
                    - 'id'
                    - 'restaurant'
                    - { property: 'name', type: 'image'}
                    - 'updatedAt'
            show:
                #title: ""
                fields:
                    - 'id'
                    - 'rank'
                    - 'legend'
                    - 'restaurant'
                    - { property: 'name', type: 'image'}
            form:
                fields:
                    - 'legend'
                    - 'restaurant'
                    - { property: 'file', type: 'vich_image' }
        Restaurant:
            class : FBN\GuideBundle\Entity\Restaurant
            list:
                #title: ""
                fields:
                    - 'id'
                    - 'name'
            form:
                fields:
                    - 'name'
                    - 'author'
                    - 'description'
                    - 'restaurateur'
                    - 'openingHours'
                    - 'tel'
                    - 'site'
                    - 'href'
                    - 'restaurantPrice'
                    - 'restaurantStyle'
                    - 'restaurantBonus'
                    - 'image'
                    - 'coordinates'
                    - 'shop'
        RestaurantBonus:    
            class : FBN\GuideBundle\Entity\RestaurantBonus
        RestaurantPrice:
            class : FBN\GuideBundle\Entity\RestaurantPrice
        RestaurantStyle:
            class : FBN\GuideBundle\Entity\RestaurantStyle
        Shop:
            class : FBN\GuideBundle\Entity\Shop
        Coordinates:            
            class : FBN\GuideBundle\Entity\Coordinates
            edit:
                #title: "Coord"
                fields:
                    - 'id'
                    - 'coordinatesCountry'
                    - 'coordinatesFR'
        CoordinatesFR:            
            class : FBN\GuideBundle\Entity\CoordinatesFR
        CoordinatesFRArea:    
            class : FBN\GuideBundle\Entity\CoordinatesFRArea
        CoordinatesFRDept:    
            class : FBN\GuideBundle\Entity\CoordinatesFRDept
        CoordinatesFRLane:    
            class : FBN\GuideBundle\Entity\CoordinatesFRLane
        CoordinatesCountry:    
            class : FBN\GuideBundle\Entity\CoordinatesCountry