parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: fbn
    database_user: your_database_username
    database_password: your_database_password
    mailer_transport: gmail
    mailer_host: 127.0.0.1
    mailer_user: your_username@gmail.com
    mailer_password: your_gmail_password
    locale: en
    secret: secret_string
    google_client_id: google_client_id
    google_client_secret: google_client_secret
    fb_client_id: fb_client_id
    fb_client_secret: fb_client_secret
    