# src/FBN/GuideBundle/Resources/config/routing.yml

fbn_guide_accueil:
    path:  /
    defaults: { _controller: FBNGuideBundle:Guide:accueil }

fbn_guide_articles:
    path:  /{articles}
    defaults: { _controller: FBNGuideBundle:Guide:articles }
    requirements : 
        articles : infos|restaurants|winemakers|events|tutorials|cavistes

fbn_guide_restaurants:
    path:  /restaurants/{slug}
    defaults: { _controller: FBNGuideBundle:Guide:restaurant }

fbn_guide_winemakers:
    path:  /winemakers/{slug}
    defaults: { _controller: FBNGuideBundle:Guide:winemaker }

fbn_guide_events:
    path:  /events/{slug}
    defaults: { _controller: FBNGuideBundle:Guide:event }

fbn_guide_tutorials:
    path:  /tutorials/{slug}
    defaults: { _controller: FBNGuideBundle:Guide:tutorial }

fbn_guide_cavistes:
    path:  /cavistes/{slug}
    defaults: { _controller: FBNGuideBundle:Guide:caviste }

fbn_guide_favoris:
    path:  /favoris
    defaults: { _controller: FBNGuideBundle:Guide:favoris }

fbn_guide_favoris_manage:
    path:  /favoris/manage
    defaults: { _controller: FBNGuideBundle:Guide:favoriManage }
    options:
        expose: true
    requirements:
        _method:  POST

fbn_guide_display_error_pages:
    path:  /error/{statusCode}
    defaults: { _controller: FBNGuideBundle:Guide:displayErrorPages }
    options:
        expose: true   

