{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

  {{ render(controller('FOSUserBundle:Profile:edit')) }}
</br>
  {{ render(controller('FOSUserBundle:ChangePassword:changePassword')) }}
</br>

<a href="{{ path('fbn_user_profile_delete') }}">SUPPRIMER MON COMPTE</a>

{% endblock fos_user_content %}
