{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

  {{ render(controller('FOSUserBundle:Profile:edit')) }}
</br>
  {{ render(controller('FOSUserBundle:ChangePassword:changePassword')) }}
</br>

<form action="{{ path('fbn_user_profile_edit_change_password') }}" method="POST">

    <input type="submit" value="SUPPRIMER MON COMPTE" />

    {{ form_rest(form) }}

</form>

{% endblock fos_user_content %}
