{# src/FBN/GuideBundle/Resources/views/restaurants.html.twig #}

{% extends "FBNGuideBundle::layout.html.twig" %}

{% block title %}
	{{ menu.title }}
{% endblock %}

{% block body %}

<p> {{ menu.intro }}</p>

{% set routeRequirement = (menu.section | lower ~ 's') %}

{% if routeRequirement == "infos" %}

  {% include 'FBNGuideBundle:Guide:infos.html.twig' %} 

{% else %}

 {% include 'FBNGuideBundle:Guide:restaurants-winemakers-events-tutorials-shops.html.twig' %}

{% endif %}

{% endblock %}
