{# src/FBN/GuideBundle/Resources/views/restaurants.html.twig #}

{% extends "FBNGuideBundle::layout.html.twig" %}

{% block title %}
	{{ menu.section ~ 's' }}
{% endblock %}

{% block body %}

<p> {{ menu.intro }}</p>


{% if menu.section | lower ~ 's' in 'restaurants-winemakers-events-tutoriels-cavistes' %}

  {% include 'FBNGuideBundle:Guide:restaurants-winemakers-events-tutoriels-cavistes.html.twig' %}

{% elseif menu.section | lower ~ 's' in 'infos' %}

 {% include 'FBNGuideBundle:Guide:infos.html.twig' %}


{% endif %}



{% endblock %}
